* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#calcBody {
	display: grid;
	background-color: aquamarine;
	width: 600px;
	height: 800px;
	margin: auto;
	margin-top: 5%;

	grid-template-columns: repeat( 4 , 1fr);
	grid-template-rows: 1.5fr 1.5fr repeat( 6 , 1fr);
}

#calcScr {
	background-color: blanchedalmond;
	grid-column: span 4;
	grid-row: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#display {
	background-color:rgb(207, 191, 167);
	width: 85%;
	height: 70%;
	
	text-align: right;
	line-height: 16rem;
	font-size: 60px;
	padding: 2%;

	color: rgb(54, 28, 28);
}

#functions {
	background-image: linear-gradient(to right,rgb(75, 75, 75) 1%,black 4%,rgb(104, 42, 13) 70%, rgb(151, 115, 98) 95%,rgb(104, 42, 13));
	grid-column: 1 / 4;
	grid-row:	3 / 5;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-top: 2%;
}

.funct {
 width: 23%;
 height: 43%;
 background-color: #818181;
 font-size: 30px;
 
 border-radius: 4px;
}

.funct sup {
	font-size: 20px;
}

#arithmetic {
	background-image: linear-gradient(to right,rgb(104, 42, 13),rgb(44, 15, 2));
	grid-column: 4/5;
	grid-row: 3/9;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 6% 0 10% 7%;
}

.arith {
	width: 90%;
	height: 22%;
	background-color: #818181;
	border-radius: 4px;

	font-size: 30px;
}

#keyboard {
	padding: 2%;
	background: #444444;
	color: #313131;
	grid-column: span 3;
	grid-row: span 4;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.shadow {
	box-shadow: 1px 1px 1px 2px black;
}

.button {
	width:8rem;
	height: 4.5rem;
	background-color: #aaaaaa;	

	font-size: 50px;
	border-radius: 4px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}


